<div class="bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="footer-header text-secondary">Contact Us</h3>
        </div>
      </div>
      <div class="row d-flex">
        <a href="https://m.facebook.com/100052309902267/" target=”_blank” class="col-sm-4 text-center">
            <i class="bi bi-facebook"></i>
        </a>
        <a href="https://www.instagram.com/i_am_kunal76/" target=”_blank” class="col-sm-4 text-center">
            <i class="bi bi-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/kunal-kumar-jaiswal-1572b6186/" target=”_blank” class="col-sm-4 text-center">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
  
  <footer class="bg-dark">
    <div class="container">
      <div class="copyright text-center p-2">
        <p class="text-secondary">© 2022 Railway Ticket Booking App | Developed By Kunal</p>
      </div>
    </div>
  </footer>
